<div class="container">
  <div class="grid">
    <!-- Loop through therapists -->
    <div *ngFor="let therapist of therapists" class="grid-item">
      <img [src]="therapist.imageUrl" alt="{{therapist.name}}" class="therapist-image">
      <div class="therapist-info">
        <h3>{{therapist.name}}</h3>
        <p>Rating: {{therapist.rating}}</p>
        <p>Location: {{therapist.location}}</p>
        <p>Languages: {{therapist.languages}}</p>
        <p>Fee: {{therapist.fee}}</p>
        
        <a class="book-now-button" [routerLink]="['/bookform']">Book Now</a>
        
      </div>
    </div>
  </div>
</div>
 <!-- Footer -->
 <footer class="footer py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h5>Become a Counsellor</h5>
              <p>If you feel you can listen to people or guide them towards a better life or you are already a therapist & wishes to render your services online while getting paid, then you are at the right place.</p>
              <a href="#" class="btn btn-primary">Login</a>
              <a href="#" class="btn btn-primary">Join Our Team</a>
          </div>
          <div class="col-md-6">
              <h5>Site</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Therapists</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Packages</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Videos</a></li>
                  <li><a href="#">Important Links</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Terms & Condition</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Sitemap</a></li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
              <p>Follow Us:</p>
              <a href="#" class="me-2">Face</a>
              <a href="#" class="me-2">YouTube</a>
              <a href="#" class="me-2">Insta</a>
              <a href="#" class="me-2">Twit</a>
              <a href="#" class="me-2">Insta</a>
              <a href="mailto:help@myfitbrain.in">Mail</a>
              <p>Scan to Download Our App</p>
              <a href="#"><img src="https://myfitbrain.in/frontend/images/new/g-pay.png" alt="GPay" class="img-fluid"></a>
          </div>
      </div>
  </div>
</footer>

